SWFC/SWFC/Service References/QuizServiceReference/QuizService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQuizHighscore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuizHighscore" nillable="true" type="tns:QuizHighscore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuizHighscore" nillable="true" type="tns:ArrayOfQuizHighscore" />
  <xs:complexType name="QuizHighscore">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuizHighscore" nillable="true" type="tns:QuizHighscore" />
  <xs:complexType name="ArrayOfQuizData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuizData" nillable="true" type="tns:QuizData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuizData" nillable="true" type="tns:ArrayOfQuizData" />
  <xs:complexType name="QuizData">
    <xs:sequence>
      <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuizData" nillable="true" type="tns:QuizData" />
</xs:schema>