SWFC/SWFC/Service References/QuizServiceReference/QuizService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuizService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.22.101.70:8733/QuizService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.22.101.70:8733/QuizService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.22.101.70:8733/QuizService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
      <xsd:import schemaLocation="http://172.22.101.70:8733/QuizService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="QuizInterface_AddQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestion" />
  </wsdl:message>
  <wsdl:message name="QuizInterface_AddQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="QuizInterface_GetHighscore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHighscore" />
  </wsdl:message>
  <wsdl:message name="QuizInterface_GetHighscore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHighscoreResponse" />
  </wsdl:message>
  <wsdl:message name="QuizInterface_GetTenRandomQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTenRandomQuestions" />
  </wsdl:message>
  <wsdl:message name="QuizInterface_GetTenRandomQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTenRandomQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="QuizInterface_CheckAnswersAddScore_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAnswersAddScore" />
  </wsdl:message>
  <wsdl:message name="QuizInterface_CheckAnswersAddScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAnswersAddScoreResponse" />
  </wsdl:message>
  <wsdl:message name="QuizInterface_CheckIfQuestionExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfQuestionExist" />
  </wsdl:message>
  <wsdl:message name="QuizInterface_CheckIfQuestionExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfQuestionExistResponse" />
  </wsdl:message>
  <wsdl:portType name="QuizInterface">
    <wsdl:operation name="AddQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/QuizInterface/AddQuestion" message="tns:QuizInterface_AddQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/QuizInterface/AddQuestionResponse" message="tns:QuizInterface_AddQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHighscore">
      <wsdl:input wsaw:Action="http://tempuri.org/QuizInterface/GetHighscore" message="tns:QuizInterface_GetHighscore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/QuizInterface/GetHighscoreResponse" message="tns:QuizInterface_GetHighscore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTenRandomQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/QuizInterface/GetTenRandomQuestions" message="tns:QuizInterface_GetTenRandomQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/QuizInterface/GetTenRandomQuestionsResponse" message="tns:QuizInterface_GetTenRandomQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAnswersAddScore">
      <wsdl:input wsaw:Action="http://tempuri.org/QuizInterface/CheckAnswersAddScore" message="tns:QuizInterface_CheckAnswersAddScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/QuizInterface/CheckAnswersAddScoreResponse" message="tns:QuizInterface_CheckAnswersAddScore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfQuestionExist">
      <wsdl:input wsaw:Action="http://tempuri.org/QuizInterface/CheckIfQuestionExist" message="tns:QuizInterface_CheckIfQuestionExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/QuizInterface/CheckIfQuestionExistResponse" message="tns:QuizInterface_CheckIfQuestionExist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_QuizInterface" type="tns:QuizInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddQuestion">
      <soap:operation soapAction="http://tempuri.org/QuizInterface/AddQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHighscore">
      <soap:operation soapAction="http://tempuri.org/QuizInterface/GetHighscore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTenRandomQuestions">
      <soap:operation soapAction="http://tempuri.org/QuizInterface/GetTenRandomQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAnswersAddScore">
      <soap:operation soapAction="http://tempuri.org/QuizInterface/CheckAnswersAddScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfQuestionExist">
      <soap:operation soapAction="http://tempuri.org/QuizInterface/CheckIfQuestionExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuizService">
    <wsdl:port name="BasicHttpBinding_QuizInterface" binding="tns:BasicHttpBinding_QuizInterface">
      <soap:address location="http://172.22.101.70:8733/QuizService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>